<!doctype html>
<html ng-app="gynacApp">
<head>
    <title>Gynac</title>
    <meta charset="utf-8" />
    <meta name="author" content="Istep Up" />
    <meta http-equiv="X-UA-compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=4, user-scalable=no">

    <link href="gynacApp/local/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="gynacApp/local/css/style.css" rel="stylesheet" type="text/css">
    <link href="gynacApp/local/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>*@
    <script src="gynacApp/vendor/lib/underscore.js"></script>

    <script type="text/javascript" src="gynacApp/vendor/lib/angular.min.js"></script>
    
    <script type="text/javascript" src="gynacApp/vendor/lib/angular-ui-router.js"></script>
    @*<script src="//cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.4/angular-filter.min.js"></script>*@
    

    <script type="text/javascript" src="gynacApp/local/config/config.js"></script>
    <script type="text/javascript" src="gynacApp/local/commonService/service.js"></script>
    <script type="text/javascript" src="gynacApp/local/controller/main/mainController.js"></script>
    <script type="text/javascript" src="gynacApp/local/controller/about/aboutController.js"></script>
    <script type="text/javascript" src="gynacApp/local/controller/contact/contactController.js"></script>
    <script type="text/javascript" src="gynacApp/local/controller/faculty/facultyController.js"></script>

    <script type="text/javascript" src="gynacApp/local/controller/home/homeController.js"></script>
    <script type="text/javascript" src="gynacApp/local/controller/course/courseController.js"></script>
    <script type="text/javascript" src="gynacApp/local/controller/lecture/lectureController.js"></script>
    <script type="text/javascript" src="gynacApp/local/controller/myProfile/myProfileController.js"></script>
    <script type="text/javascript" src="gynacApp/local/controller/signIn/signInController.js"></script>
    <script type="text/javascript" src="gynacApp/local/controller/signUp/signUpController.js"></script>
    <script type="text/javascript" src="gynacApp/local/controller/training/trainingController.js"></script>
    

    <script type="text/javascript" src="gynacApp/local/controller/lecture/videoModalController.js"></script>
    <script type="text/javascript" src="gynacApp/local/controller/lecture/questionModelController.js"></script>
    <script type="text/javascript" src="gynacApp/local/controller/lecture/ImageSubmissionController.js"></script>
    

    <!--<script type="text/javascript" src="gynacApp/local/controller/secondPage/secondpageController.js"></script>-->
    <script src="gynacApp/vendor/lib/jquery-1.11.3.min.js"></script>
    <script src="gynacApp/vendor/lib/bootstrap.min.js"></script>
    <script src="gynacApp/vendor/lib/ui-bootstrap.min.js"></script>
    <script src="gynacApp/vendor/lib/ui-bootstrap-tpls.min.js"></script>
    <script src="gynacApp/vendor/lib/angular-filter.js"></script>

    <script src="https://player.vimeo.com/api/player.js"></script>
</head>
<body ng-controller="mainCtrl">
    <div class="loading" id="loading" style="display:none">
        <img src="gynacApp/local/img/loader.gif">
    </div>
    <div ui-view></div>
    <!--trigger InternalError found modal-->
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" id="triggerInternalError" data-toggle="modal" data-target="#internalError" style="display:none">Open Modal</button>

    <!-- Modal -->
    <div id="internalError" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title" style="color:red">Error</h3>
                </div>
                <div class="modal-body">
                    <p class="text-center text-color" style="color:red">Internal server error please try again!!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="goToHome()">ok</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" id="triggerNotification" data-toggle="modal" data-target="#Notification" style="display:none">Open Modal</button>
    <!-- Modal -->
    <div id="Notification" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Notification</h3>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Comment</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="n in notification">
                                    <td>{{$index + 1}}</td>
                                    <td>{{n.Comment}}</td>                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    
    @RenderBody()

    @RenderSection("scripts", required: false)

    <footer class="footer">
        <span>Copyright©gynac.org</span> |
        <span> <a href="javascript:;">FAQ</a></span> |
        <span> <a href="javascript:;">Terms & Conditions</a></span> |
        <span> <a href="javascript:;">Refund & Cancellation policy</a></span>
    </footer>
</body>
</html>