USE [master]
GO
/****** Object:  Database [gynac]    Script Date: 11-08-17 10:15:05 AM ******/
CREATE DATABASE [gynac]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'gynac', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\gynac.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'gynac_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\gynac_log.ldf' , SIZE = 2816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [gynac].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [gynac]
GO
/****** Object:  Schema [gynac]    Script Date: 11-08-17 10:15:05 AM ******/
CREATE SCHEMA [gynac]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Course]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Course](
	[Course_Id] [int] IDENTITY(1,1) NOT NULL,
	[Faculty_Id] [int] NOT NULL,
	[Course_Image] [varchar](max) NULL,
	[Name] [varchar](100) NOT NULL,
	[Description] [varchar](500) NOT NULL,
	[Fees] [int] NOT NULL,
	[Currency] [varchar](20) NOT NULL,
	[Validity_Days] [int] NOT NULL,
	[Insert_Date] [datetime] NOT NULL,
	[Update_Date] [datetime] NOT NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[Course_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Faculty]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Faculty](
	[Faculty_Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](10) NULL,
	[Name] [varchar](100) NOT NULL,
	[Image] [varchar](max) NOT NULL,
	[Profile_Summary] [varchar](500) NOT NULL,
	[Insert_Date] [datetime] NOT NULL,
	[Update_Date] [datetime] NOT NULL,
	[ProfilePic] [nvarchar](max) NULL,
	[Email] [nvarchar](100) NULL,
 CONSTRAINT [PK_Faculty] PRIMARY KEY CLUSTERED 
(
	[Faculty_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ModuleImage]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModuleImage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SampleImage] [nvarchar](1000) NULL,
	[Description] [nvarchar](max) NULL,
	[ModulId] [int] NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK__ModuleIm__3214EC07A8DB72F3] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ModuleMaster]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModuleMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[SessionId] [int] NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[FacultyId] [int] NULL,
 CONSTRAINT [PK__ModuleMa__3214EC07616223A7] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Notification]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Comment] [nvarchar](max) NOT NULL,
	[IsRead] [int] NULL,
	[FacultyId] [int] NULL,
	[UserId] [int] NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK__Notifica__3214EC0733304CA7] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QuestionMaster]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Question] [nvarchar](200) NOT NULL,
	[Ans] [nvarchar](max) NULL,
	[ImagePath] [nvarchar](max) NULL,
	[TalkId] [int] NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK__Question__3214EC07C905EC38] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QuetionOptionMaster]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuetionOptionMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[QueOption] [nvarchar](max) NOT NULL,
	[QueId] [int] NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK__QuetionO__3214EC075BC4B7E3] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SessionMaster]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SessionMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK__SessionM__3214EC07FC87B2A3] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TalkMaster]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TalkMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[VideoLink] [nvarchar](max) NULL,
	[PreViewVideoLink] [nvarchar](max) NULL,
	[FacultyId] [int] NULL,
	[ModulId] [int] NULL,
	[SessionId] [int] NULL,
	[Talkdesc] [nvarchar](max) NULL,
	[Duration] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK__TalkMast__3214EC07A2390EC2] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[User_Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](10) NOT NULL,
	[First_Name] [varchar](50) NOT NULL,
	[Middle_Name] [varchar](50) NULL,
	[Last_Name] [varchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Email_Verified] [bit] NOT NULL,
	[Mobile] [varchar](15) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Professional_Specialty] [varchar](50) NOT NULL,
	[Educational_Qualification] [varchar](50) NULL,
	[Street_Address] [varchar](100) NULL,
	[City_Town] [varchar](50) NOT NULL,
	[Country] [varchar](50) NOT NULL,
	[Institution_Work_Place] [varchar](50) NOT NULL,
	[Where_Hear] [varchar](50) NULL,
	[Guid] [varchar](50) NULL,
	[Transaction_Id] [varchar](100) NULL DEFAULT (NULL),
	[Transaction_Status] [varchar](150) NULL DEFAULT (NULL),
	[Order_Status] [varchar](50) NULL DEFAULT (NULL),
	[Comment] [nvarchar](max) NULL,
	[IsLogin] [bit] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User_Course]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User_Course](
	[User_Course_Id] [int] IDENTITY(1,1) NOT NULL,
	[User_Id] [int] NOT NULL,
	[Course_Id] [int] NOT NULL,
	[Registered_Date] [datetime] NOT NULL,
	[Registered_Till] [datetime] NULL,
	[Payment_Mode] [varchar](100) NULL,
	[Payment_Amount] [decimal](10, 5) NULL,
	[Payment_Currency] [varchar](50) NULL,
	[Is_Active] [bit] NOT NULL DEFAULT ((0)),
	[Transaction_Id] [varchar](100) NULL,
	[Transaction_Status] [varchar](150) NULL,
	[Order_Status] [varchar](50) NULL,
 CONSTRAINT [PK_User_Course] PRIMARY KEY CLUSTERED 
(
	[User_Course_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserAnswer]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAnswer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsValid] [int] NULL,
	[QueOptionId] [int] NULL,
	[QueId] [int] NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK__UserAnsw__3214EC076BD83C27] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserModuleImage]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserModuleImage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImagePath] [nvarchar](max) NULL,
	[IsStatus] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[ModulId] [int] NULL,
	[ModuleImageId] [int] NULL,
	[UserId] [int] NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[Faculty_Id] [int] NULL,
 CONSTRAINT [PK__UserModu__3214EC07D81B5431] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserTalks]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTalks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Enddate] [datetime] NULL,
	[IsActive] [int] NULL,
	[IsVideoStatus] [int] NULL,
	[IsExamlear] [int] NULL,
	[TalkId] [int] NULL,
	[UserId] [int] NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[Comment] [nvarchar](max) NULL,
 CONSTRAINT [PK__UserTask__3214EC07B86985DC] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'29ac61d2-f1f5-470a-b41a-e0548d8d3813', N'jigs.prince78@gmail.com', 0, N'APz0AGcx9QzuoQUX40BEaFkjMWs3gp2Vbzq2Ht7ApAsALzpT5cZMIUjPsVPTdD43Qw==', N'c579c4cd-1003-45f3-92d2-b2362177d129', NULL, 0, 0, NULL, 1, 0, N'jigs.prince78@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[Course] ON 

GO
INSERT [dbo].[Course] ([Course_Id], [Faculty_Id], [Course_Image], [Name], [Description], [Fees], [Currency], [Validity_Days], [Insert_Date], [Update_Date]) VALUES (1, 1, N'image', N'Torsion: A Diagnostic Dilemma Made Easy', N'Course 1', 1500, N'inr', 90, CAST(N'2016-09-25 14:41:47.683' AS DateTime), CAST(N'2016-09-25 14:41:47.683' AS DateTime))
GO
INSERT [dbo].[Course] ([Course_Id], [Faculty_Id], [Course_Image], [Name], [Description], [Fees], [Currency], [Validity_Days], [Insert_Date], [Update_Date]) VALUES (2, 1, N'inage', N'Scanning the Pelvis: Basics Along with Tips and Tricks', N'Course 2', 1500, N'inr', 90, CAST(N'2016-09-25 14:41:47.683' AS DateTime), CAST(N'2016-09-25 14:41:47.683' AS DateTime))
GO
INSERT [dbo].[Course] ([Course_Id], [Faculty_Id], [Course_Image], [Name], [Description], [Fees], [Currency], [Validity_Days], [Insert_Date], [Update_Date]) VALUES (3, 1, N'image ', N'Congenital Uterine Anomalies - Simplified', N'Course 3', 1500, N'inr', 90, CAST(N'2016-09-25 14:41:47.683' AS DateTime), CAST(N'2016-09-25 14:41:47.683' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Course] OFF
GO
SET IDENTITY_INSERT [dbo].[Faculty] ON 

GO
INSERT [dbo].[Faculty] ([Faculty_Id], [Title], [Name], [Image], [Profile_Summary], [Insert_Date], [Update_Date], [ProfilePic], [Email]) VALUES (1, N'Prof', N'ABC', N'XYZ', N'ABX XYZ', CAST(N'2016-09-25 14:41:47.683' AS DateTime), CAST(N'2016-09-25 14:41:47.683' AS DateTime), N'/img/GynAc-logo.jpg', N'a@gamil.com')
GO
INSERT [dbo].[Faculty] ([Faculty_Id], [Title], [Name], [Image], [Profile_Summary], [Insert_Date], [Update_Date], [ProfilePic], [Email]) VALUES (4, N'Prof', N'ere', N'er', N'weewr', CAST(N'2016-09-25 14:41:47.683' AS DateTime), CAST(N'2016-09-25 14:41:47.683' AS DateTime), NULL, N'b@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[Faculty] OFF
GO
SET IDENTITY_INSERT [dbo].[ModuleImage] ON 

GO
INSERT [dbo].[ModuleImage] ([Id], [SampleImage], [Description], [ModulId], [CreateDate], [UpdateDate]) VALUES (1, N'\Images\images.jpg', N'This is image1', 1, CAST(N'2017-07-22 15:08:11.773' AS DateTime), CAST(N'2017-07-22 15:08:11.773' AS DateTime))
GO
INSERT [dbo].[ModuleImage] ([Id], [SampleImage], [Description], [ModulId], [CreateDate], [UpdateDate]) VALUES (2, N'\Images\images.jpg', N'this is image2', 1, CAST(N'2017-07-22 15:08:11.773' AS DateTime), CAST(N'2017-07-22 15:08:11.773' AS DateTime))
GO
INSERT [dbo].[ModuleImage] ([Id], [SampleImage], [Description], [ModulId], [CreateDate], [UpdateDate]) VALUES (3, N'\Images\images.jpg', N'image3', 1, CAST(N'2017-07-22 15:08:11.773' AS DateTime), CAST(N'2017-07-22 15:08:11.773' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[ModuleImage] OFF
GO
SET IDENTITY_INSERT [dbo].[ModuleMaster] ON 

GO
INSERT [dbo].[ModuleMaster] ([Id], [Name], [SessionId], [CreateDate], [UpdateDate], [FacultyId]) VALUES (1, N'MODULE 1: GENERAL TECHNIQUES IN GYNECOLOGICAL ULTRASOUND', 1, CAST(N'2017-07-22 14:34:25.387' AS DateTime), CAST(N'2017-07-22 14:34:25.387' AS DateTime), 1)
GO
INSERT [dbo].[ModuleMaster] ([Id], [Name], [SessionId], [CreateDate], [UpdateDate], [FacultyId]) VALUES (2, N'MODULE 2: ULTRASOUND EVALUATION OF MYOMETRIUM', 1, CAST(N'2017-07-22 14:34:25.387' AS DateTime), CAST(N'2017-07-22 14:34:25.387' AS DateTime), 1)
GO
INSERT [dbo].[ModuleMaster] ([Id], [Name], [SessionId], [CreateDate], [UpdateDate], [FacultyId]) VALUES (3, N'MODULE 3: ULTRASOUND EVALUATION OF CONGENITAL UTERINE ANOMALIES', 1, CAST(N'2017-07-22 14:34:25.390' AS DateTime), CAST(N'2017-07-22 14:34:25.390' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[ModuleMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[Notification] ON 

GO
INSERT [dbo].[Notification] ([Id], [Comment], [IsRead], [FacultyId], [UserId], [CreateDate], [UpdateDate]) VALUES (1, N'test', 1, NULL, 45, NULL, NULL)
GO
INSERT [dbo].[Notification] ([Id], [Comment], [IsRead], [FacultyId], [UserId], [CreateDate], [UpdateDate]) VALUES (2, N'test2', 1, NULL, 45, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Notification] OFF
GO
SET IDENTITY_INSERT [dbo].[QuestionMaster] ON 

GO
INSERT [dbo].[QuestionMaster] ([Id], [Question], [Ans], [ImagePath], [TalkId], [CreateDate], [UpdateDate]) VALUES (1, N'Q 1: Determine the position of this fibroid based on findings in this 3D
rendered coronal image of the uterus: (Choose a single option for each sub question)', N'a) Fundal; b) Upper Corpus;
			c) Mid corpus; d) Lower corpus;
			e) Cervical; e) not possible', NULL, 1, CAST(N'2017-07-22 15:00:09.347' AS DateTime), CAST(N'2017-07-22 15:00:09.347' AS DateTime))
GO
INSERT [dbo].[QuestionMaster] ([Id], [Question], [Ans], [ImagePath], [TalkId], [CreateDate], [UpdateDate]) VALUES (2, N'Q 2: Which of these are not usual/known features of sarcomas:
(Note - there may be more than one option)', N'a) Often single large tumors
appearing like fibroids', NULL, 1, CAST(N'2017-07-22 15:00:09.347' AS DateTime), CAST(N'2017-07-22 15:00:09.347' AS DateTime))
GO
INSERT [dbo].[QuestionMaster] ([Id], [Question], [Ans], [ImagePath], [TalkId], [CreateDate], [UpdateDate]) VALUES (3, N'Q 3: Which of these features of a fibroid are not useful in differentiating
between fibroids & adenomyoma/adenomyosis?
(Note - there may be more than one option)', N'a) Margins are well defined', NULL, 1, CAST(N'2017-07-22 15:00:09.347' AS DateTime), CAST(N'2017-07-22 15:00:09.347' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[QuestionMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[QuetionOptionMaster] ON 

GO
INSERT [dbo].[QuetionOptionMaster] ([Id], [QueOption], [QueId], [CreateDate], [UpdateDate]) VALUES (1, N'a) Fundal; b) Upper Corpus;
			c) Mid corpus; d) Lower corpus;
			e) Cervical; e) not possible', 1, CAST(N'2017-07-22 15:05:14.700' AS DateTime), CAST(N'2017-07-22 15:05:14.700' AS DateTime))
GO
INSERT [dbo].[QuetionOptionMaster] ([Id], [QueOption], [QueId], [CreateDate], [UpdateDate]) VALUES (2, N'a) Submucous; b) Intramural;
c) Subserous ; d) Transmural;
e) not possible', 1, CAST(N'2017-07-22 15:05:14.700' AS DateTime), CAST(N'2017-07-22 15:05:14.700' AS DateTime))
GO
INSERT [dbo].[QuetionOptionMaster] ([Id], [QueOption], [QueId], [CreateDate], [UpdateDate]) VALUES (3, N'a) Anterior; b) Posterior;
c) Right lateral; d) Left lateral;
e) not possible', 1, CAST(N'2017-07-22 15:05:14.700' AS DateTime), CAST(N'2017-07-22 15:05:14.700' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[QuetionOptionMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[SessionMaster] ON 

GO
INSERT [dbo].[SessionMaster] ([Id], [Name], [CreateDate], [UpdateDate]) VALUES (1, N'SESSION 1', CAST(N'2017-07-22 14:25:40.293' AS DateTime), CAST(N'2017-07-22 14:25:40.293' AS DateTime))
GO
INSERT [dbo].[SessionMaster] ([Id], [Name], [CreateDate], [UpdateDate]) VALUES (2, N'SESSION 2', CAST(N'2017-07-22 14:25:40.293' AS DateTime), CAST(N'2017-07-22 14:25:40.293' AS DateTime))
GO
INSERT [dbo].[SessionMaster] ([Id], [Name], [CreateDate], [UpdateDate]) VALUES (3, N'SESSION 3', CAST(N'2017-07-22 14:25:40.293' AS DateTime), CAST(N'2017-07-22 14:25:40.293' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[SessionMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[TalkMaster] ON 

GO
INSERT [dbo].[TalkMaster] ([Id], [Name], [VideoLink], [PreViewVideoLink], [FacultyId], [ModulId], [SessionId], [Talkdesc], [Duration], [CreateDate], [UpdateDate]) VALUES (1, N'Methodology (TAS & TVS) and Tricks to Scan the Pelvis  ', N'previews/wHEkqM70-RZnnsc9B', N'q', 1, 1, 1, N'Transabdominal and transvaginal scan: Basics, methodology, various signs, maneuvers, tips and tricks of scanning the pelvis.', N'50 min', CAST(N'2017-07-22 14:44:31.130' AS DateTime), CAST(N'2017-07-22 14:44:31.130' AS DateTime))
GO
INSERT [dbo].[TalkMaster] ([Id], [Name], [VideoLink], [PreViewVideoLink], [FacultyId], [ModulId], [SessionId], [Talkdesc], [Duration], [CreateDate], [UpdateDate]) VALUES (2, N'Ultrasound Settings     ', NULL, NULL, 1, 1, 1, N'Ultrasound settings: Fine tuning of machine settings and various parameters to optimize pelvic imaging', N'50 min', CAST(N'2017-07-22 14:44:31.130' AS DateTime), CAST(N'2017-07-22 14:44:31.130' AS DateTime))
GO
INSERT [dbo].[TalkMaster] ([Id], [Name], [VideoLink], [PreViewVideoLink], [FacultyId], [ModulId], [SessionId], [Talkdesc], [Duration], [CreateDate], [UpdateDate]) VALUES (3, N'Doppler in Gynecology     ', NULL, NULL, 1, 1, 1, N'Doppler: Types, Settings, Colour Scoring, 3D Doppler, advantages and utility in various case scenarios including, malignancies , torsion etc.', N'1 hr 15 min', CAST(N'2017-07-22 14:44:31.130' AS DateTime), CAST(N'2017-07-22 14:44:31.130' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[TalkMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

GO
INSERT [dbo].[User] ([User_Id], [Title], [First_Name], [Middle_Name], [Last_Name], [Email], [Email_Verified], [Mobile], [Password], [Professional_Specialty], [Educational_Qualification], [Street_Address], [City_Town], [Country], [Institution_Work_Place], [Where_Hear], [Guid], [Transaction_Id], [Transaction_Status], [Order_Status], [Comment], [IsLogin]) VALUES (1, N'test', N'Nipun', N'', N'Patel', N'nipun710@gmail.com', 1, N'1234567890', N'12345', N'test', N'test', N'test', N'Pune', N'India', N'test', N'Google search', N'5FEE3D06-5BE8-4908-A050-06848', NULL, NULL, NULL, NULL, 0)
GO
INSERT [dbo].[User] ([User_Id], [Title], [First_Name], [Middle_Name], [Last_Name], [Email], [Email_Verified], [Mobile], [Password], [Professional_Specialty], [Educational_Qualification], [Street_Address], [City_Town], [Country], [Institution_Work_Place], [Where_Hear], [Guid], [Transaction_Id], [Transaction_Status], [Order_Status], [Comment], [IsLogin]) VALUES (2, N'Mrs', N'Priya', N'', N'Ghatge', N'pungul@gmail.com', 1, N'uiyuiy89798', N'popo', N'asd', N'asd', N'sda', N'Mumbai', N'India', N'iuyuiyuiyi', N'Friend', N'CD27473F-0562-4D3A-9AFD-87D3819BC4C3', NULL, NULL, NULL, NULL, 0)
GO
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[User_Course] ON 

GO
INSERT [dbo].[User_Course] ([User_Course_Id], [User_Id], [Course_Id], [Registered_Date], [Registered_Till], [Payment_Mode], [Payment_Amount], [Payment_Currency], [Is_Active], [Transaction_Id], [Transaction_Status], [Order_Status]) VALUES (7, 1, 1, CAST(N'2016-10-06 17:31:48.747' AS DateTime), CAST(N'2018-10-06 17:31:48.747' AS DateTime), NULL, CAST(2500.00000 AS Decimal(10, 5)), NULL, 1, NULL, NULL, NULL)
GO
INSERT [dbo].[User_Course] ([User_Course_Id], [User_Id], [Course_Id], [Registered_Date], [Registered_Till], [Payment_Mode], [Payment_Amount], [Payment_Currency], [Is_Active], [Transaction_Id], [Transaction_Status], [Order_Status]) VALUES (10, 3, 1, CAST(N'2016-10-09 05:43:40.383' AS DateTime), CAST(N'2018-10-06 17:31:48.747' AS DateTime), NULL, CAST(2500.00000 AS Decimal(10, 5)), NULL, 1, NULL, NULL, NULL)
GO
INSERT [dbo].[User_Course] ([User_Course_Id], [User_Id], [Course_Id], [Registered_Date], [Registered_Till], [Payment_Mode], [Payment_Amount], [Payment_Currency], [Is_Active], [Transaction_Id], [Transaction_Status], [Order_Status]) VALUES (11, 6, 1, CAST(N'2016-10-06 17:31:48.747' AS DateTime), CAST(N'2018-10-06 17:31:48.747' AS DateTime), NULL, CAST(2500.00000 AS Decimal(10, 5)), NULL, 1, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[User_Course] OFF
GO
SET IDENTITY_INSERT [dbo].[UserModuleImage] ON 

GO
INSERT [dbo].[UserModuleImage] ([Id], [ImagePath], [IsStatus], [Comment], [ModulId], [ModuleImageId], [UserId], [CreateDate], [UpdateDate], [Faculty_Id]) VALUES (1, N'/Images/2d5d5131-a0df-4666-8c85-0e21cab9c1e4.png', 1, N'fd', 1, 1, 45, NULL, NULL, NULL)
GO
INSERT [dbo].[UserModuleImage] ([Id], [ImagePath], [IsStatus], [Comment], [ModulId], [ModuleImageId], [UserId], [CreateDate], [UpdateDate], [Faculty_Id]) VALUES (2, N'/Images/489c52a5-6cf8-4ee8-b64b-666d13dc4e6d.png', 2, N'dgfg', 1, 2, 45, NULL, NULL, NULL)
GO
INSERT [dbo].[UserModuleImage] ([Id], [ImagePath], [IsStatus], [Comment], [ModulId], [ModuleImageId], [UserId], [CreateDate], [UpdateDate], [Faculty_Id]) VALUES (8, N'/Images/06fb7303-1ff7-45ba-9c92-5b88348e9fb8.png', 0, NULL, 1, 3, 45, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[UserModuleImage] OFF
GO
SET IDENTITY_INSERT [dbo].[UserTalks] ON 

GO
INSERT [dbo].[UserTalks] ([Id], [Enddate], [IsActive], [IsVideoStatus], [IsExamlear], [TalkId], [UserId], [CreateDate], [UpdateDate], [Comment]) VALUES (46, CAST(N'2017-02-05 00:00:00.000' AS DateTime), 0, 0, 0, 1, 45, NULL, NULL, N'dfhgjhj
dgfhgfjh')
GO
INSERT [dbo].[UserTalks] ([Id], [Enddate], [IsActive], [IsVideoStatus], [IsExamlear], [TalkId], [UserId], [CreateDate], [UpdateDate], [Comment]) VALUES (47, CAST(N'2017-02-05 00:00:00.000' AS DateTime), 1, 0, 0, 2, 45, NULL, NULL, NULL)
GO
INSERT [dbo].[UserTalks] ([Id], [Enddate], [IsActive], [IsVideoStatus], [IsExamlear], [TalkId], [UserId], [CreateDate], [UpdateDate], [Comment]) VALUES (48, CAST(N'2017-02-05 00:00:00.000' AS DateTime), 1, 1, 0, 3, 45, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[UserTalks] OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 11-08-17 10:15:05 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 11-08-17 10:15:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 11-08-17 10:15:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 11-08-17 10:15:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 11-08-17 10:15:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 11-08-17 10:15:05 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_Faculty] FOREIGN KEY([Faculty_Id])
REFERENCES [dbo].[Faculty] ([Faculty_Id])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_Faculty]
GO
ALTER TABLE [dbo].[ModuleImage]  WITH CHECK ADD  CONSTRAINT [FK__ModuleIma__Modul__3B75D760] FOREIGN KEY([ModulId])
REFERENCES [dbo].[ModuleMaster] ([Id])
GO
ALTER TABLE [dbo].[ModuleImage] CHECK CONSTRAINT [FK__ModuleIma__Modul__3B75D760]
GO
ALTER TABLE [dbo].[ModuleMaster]  WITH CHECK ADD FOREIGN KEY([FacultyId])
REFERENCES [dbo].[Faculty] ([Faculty_Id])
GO
ALTER TABLE [dbo].[ModuleMaster]  WITH CHECK ADD  CONSTRAINT [FK__ModuleMas__Sessi__38996AB5] FOREIGN KEY([SessionId])
REFERENCES [dbo].[SessionMaster] ([Id])
GO
ALTER TABLE [dbo].[ModuleMaster] CHECK CONSTRAINT [FK__ModuleMas__Sessi__38996AB5]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK__Notificat__Facul__5EBF139D] FOREIGN KEY([FacultyId])
REFERENCES [dbo].[Faculty] ([Faculty_Id])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK__Notificat__Facul__5EBF139D]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK__Notificat__UserI__5FB337D6] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([User_Id])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK__Notificat__UserI__5FB337D6]
GO
ALTER TABLE [dbo].[QuestionMaster]  WITH CHECK ADD  CONSTRAINT [FK__QuestionM__TalkI__4316F928] FOREIGN KEY([TalkId])
REFERENCES [dbo].[TalkMaster] ([Id])
GO
ALTER TABLE [dbo].[QuestionMaster] CHECK CONSTRAINT [FK__QuestionM__TalkI__4316F928]
GO
ALTER TABLE [dbo].[QuetionOptionMaster]  WITH CHECK ADD  CONSTRAINT [FK__QuetionOp__QueId__45F365D3] FOREIGN KEY([QueId])
REFERENCES [dbo].[QuestionMaster] ([Id])
GO
ALTER TABLE [dbo].[QuetionOptionMaster] CHECK CONSTRAINT [FK__QuetionOp__QueId__45F365D3]
GO
ALTER TABLE [dbo].[TalkMaster]  WITH CHECK ADD  CONSTRAINT [FK__TalkMaste__Facul__3E52440B] FOREIGN KEY([FacultyId])
REFERENCES [dbo].[Faculty] ([Faculty_Id])
GO
ALTER TABLE [dbo].[TalkMaster] CHECK CONSTRAINT [FK__TalkMaste__Facul__3E52440B]
GO
ALTER TABLE [dbo].[TalkMaster]  WITH CHECK ADD  CONSTRAINT [FK__TalkMaste__Modul__3F466844] FOREIGN KEY([ModulId])
REFERENCES [dbo].[ModuleMaster] ([Id])
GO
ALTER TABLE [dbo].[TalkMaster] CHECK CONSTRAINT [FK__TalkMaste__Modul__3F466844]
GO
ALTER TABLE [dbo].[TalkMaster]  WITH CHECK ADD  CONSTRAINT [FK__TalkMaste__Sessi__403A8C7D] FOREIGN KEY([SessionId])
REFERENCES [dbo].[SessionMaster] ([Id])
GO
ALTER TABLE [dbo].[TalkMaster] CHECK CONSTRAINT [FK__TalkMaste__Sessi__403A8C7D]
GO
ALTER TABLE [dbo].[User_Course]  WITH CHECK ADD  CONSTRAINT [FK_User_Course_Course] FOREIGN KEY([Course_Id])
REFERENCES [dbo].[Course] ([Course_Id])
GO
ALTER TABLE [dbo].[User_Course] CHECK CONSTRAINT [FK_User_Course_Course]
GO
ALTER TABLE [dbo].[User_Course]  WITH CHECK ADD  CONSTRAINT [FK_User_Course_User] FOREIGN KEY([User_Id])
REFERENCES [dbo].[User] ([User_Id])
GO
ALTER TABLE [dbo].[User_Course] CHECK CONSTRAINT [FK_User_Course_User]
GO
ALTER TABLE [dbo].[UserAnswer]  WITH CHECK ADD  CONSTRAINT [FK__UserAnswe__QueId__49C3F6B7] FOREIGN KEY([QueId])
REFERENCES [dbo].[QuestionMaster] ([Id])
GO
ALTER TABLE [dbo].[UserAnswer] CHECK CONSTRAINT [FK__UserAnswe__QueId__49C3F6B7]
GO
ALTER TABLE [dbo].[UserAnswer]  WITH CHECK ADD  CONSTRAINT [FK__UserAnswe__QueOp__48CFD27E] FOREIGN KEY([QueOptionId])
REFERENCES [dbo].[QuetionOptionMaster] ([Id])
GO
ALTER TABLE [dbo].[UserAnswer] CHECK CONSTRAINT [FK__UserAnswe__QueOp__48CFD27E]
GO
ALTER TABLE [dbo].[UserModuleImage]  WITH CHECK ADD FOREIGN KEY([Faculty_Id])
REFERENCES [dbo].[Faculty] ([Faculty_Id])
GO
ALTER TABLE [dbo].[UserModuleImage]  WITH CHECK ADD  CONSTRAINT [FK__UserModul__Modul__5070F446] FOREIGN KEY([ModulId])
REFERENCES [dbo].[ModuleMaster] ([Id])
GO
ALTER TABLE [dbo].[UserModuleImage] CHECK CONSTRAINT [FK__UserModul__Modul__5070F446]
GO
ALTER TABLE [dbo].[UserModuleImage]  WITH CHECK ADD  CONSTRAINT [FK__UserModul__Modul__5165187F] FOREIGN KEY([ModuleImageId])
REFERENCES [dbo].[ModuleImage] ([Id])
GO
ALTER TABLE [dbo].[UserModuleImage] CHECK CONSTRAINT [FK__UserModul__Modul__5165187F]
GO
ALTER TABLE [dbo].[UserModuleImage]  WITH CHECK ADD  CONSTRAINT [FK__UserModul__UserI__52593CB8] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([User_Id])
GO
ALTER TABLE [dbo].[UserModuleImage] CHECK CONSTRAINT [FK__UserModul__UserI__52593CB8]
GO
ALTER TABLE [dbo].[UserTalks]  WITH CHECK ADD  CONSTRAINT [FK__UserTask__TalkId__4CA06362] FOREIGN KEY([TalkId])
REFERENCES [dbo].[TalkMaster] ([Id])
GO
ALTER TABLE [dbo].[UserTalks] CHECK CONSTRAINT [FK__UserTask__TalkId__4CA06362]
GO
ALTER TABLE [dbo].[UserTalks]  WITH CHECK ADD  CONSTRAINT [FK__UserTask__UserId__4D94879B] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([User_Id])
GO
ALTER TABLE [dbo].[UserTalks] CHECK CONSTRAINT [FK__UserTask__UserId__4D94879B]
GO
/****** Object:  StoredProcedure [dbo].[Activate_User_Course]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Activate_User_Course] 
			@Guid varchar(100) = null
			,@TransactionId varchar(100) = null
			,@TransactionStatus varchar(150) = null
			,@OrderStatus varchar(50) = null
AS
BEGIN 
	
	DECLARE @noOfActivatedCourse int
	SET @noOfActivatedCourse = 0

	IF EXISTS (SELECT * FROM [User] WHERE [Guid] = @Guid)
	BEGIN
		SELECT		@noOfActivatedCourse = COUNT(*)
		FROM		Course as C
		INNER JOIN	[User_Course] as UC
			ON		UC.Course_Id = C.Course_Id
		INNER JOIN	[User] as U
			ON		U.[User_Id] = UC.[User_Id]
			WHERE	U.[Guid] = @Guid
			AND		UC.Registered_Till IS NULL	

		UPDATE		UC
		SET			UC.Is_Active = 1,
					UC.Registered_Till = GETDATE() + C.Validity_Days,
					UC.Transaction_Id = @TransactionId,
					UC.Transaction_Status = @TransactionStatus,
					UC.Order_Status = @OrderStatus
		FROM		Course as C
		INNER JOIN	[User_Course] as UC
			ON		UC.Course_Id = C.Course_Id
		INNER JOIN	[User] as U
			ON		U.[User_Id] = UC.[User_Id]
			WHERE	U.[Guid] = @Guid
			AND		UC.Registered_Till IS NULL		
		
		--UPDATE	[User]
		--SET		Transaction_Id = @TransactionId,
		--		Transaction_Status = @TransactionStatus,
		--		Order_Status = @OrderStatus
		--WHERE	[Guid] = @Guid
			
		--SELECT		@noOfActivatedCourse = COUNT(*)
		--FROM		User_Course as UC				
		--INNER JOIN	[User] as U
		--	ON		UC.[User_Id] = U.[User_Id]
		--	WHERE	U.[Guid] = @Guid

	END

	SELECT @noOfActivatedCourse
END 




GO
/****** Object:  StoredProcedure [dbo].[Delete_User_Course]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Delete_User_Course]
			@User_Id int = null           
AS
BEGIN 
	DELETE FROM User_Course WHERE User_Id = @User_Id AND Is_Active = 0
	--DECLARE @dummy as INT
	--SET @dummy = 1
END 



GO
/****** Object:  StoredProcedure [dbo].[Email_Verified]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Email_Verified] 
			@Guid varchar(100) = null
           ,@Email varchar(100) = null           
AS
BEGIN 
	UPDATE	[dbo].[User]
	SET		Email_Verified = 1
	WHERE	Email = @Email 
	AND		Guid = @Guid

	SELECT	COUNT(*) 
	FROM	[dbo].[User] 
	WHERE	Email = @Email 
	AND		Guid = @Guid
	AND		Email_Verified = 1

END 




GO
/****** Object:  StoredProcedure [dbo].[Forgot_Password]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Forgot_Password]
           @Email varchar(100) = null           
AS
BEGIN 
	IF NOT EXISTS (SELECT * FROM [dbo].[User] WHERE Email = @Email)
		BEGIN
			SELECT 0
		END
	ELSE
		BEGIN
			DECLARE @id uniqueidentifier			
			SET @id = NEWID()

			UPDATE	[dbo].[User]
			SET		[Guid] = @id
			WHERE	Email = @Email 

			SELECT @id
		END
END 




GO
/****** Object:  StoredProcedure [dbo].[Get_All_Course]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Get_All_Course]			
AS
	BEGIN 

	SELECT [Course_Id]
		  ,[Faculty_Id]
		  ,[Course_Image]
		  ,[Name]
		  ,[Description]
		  ,[Fees]
		  ,[Currency]
		  ,[Validity_Days]		  
	  FROM [dbo].[Course]
	END 




GO
/****** Object:  StoredProcedure [dbo].[Get_Talk_Video]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Get_Talk_Video]
           @TalkId INT = 0,
		   @UserTalkId INT = 0
AS
	BEGIN 	
		select t.*,f.Title +'. '+  f.Name as FacultyName, f.ProfilePic, f.Email from TalkMaster t
		inner join Faculty f on f.Faculty_Id= t.FacultyId
		where Id=@TalkId

		update UserTalks set IsVideoStatus = 1  where id=@UserTalkId

		Select * from UserTalks where id=@UserTalkId
END
--exec [dbo].[Get_Talk_Video]






GO
/****** Object:  StoredProcedure [dbo].[Get_Total_Course_Cost]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Get_Total_Course_Cost] 
			@Guid varchar(100) = null
AS
BEGIN 
	
	DECLARE @cost int
	SET @cost = 0

	IF EXISTS (SELECT * FROM [User] WHERE [Guid] = @Guid)
	BEGIN
		
		SELECT		@cost = SUM(C.Fees)
		FROM		Course as C
		INNER JOIN	[User_Course] as UC
			ON		UC.Course_Id = C.Course_Id
		INNER JOIN	[User] as U
			ON		U.[User_Id] = UC.[User_Id]
			WHERE	U.[Guid] = @Guid
			AND		UC.Is_Active = 0				
	END

	SELECT @cost
END 



GO
/****** Object:  StoredProcedure [dbo].[Get_User_Images]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Get_User_Images]
           @ModuleId INT = 0,
		   @UserId INT = 0
AS
	BEGIN 
		
--select m.Id as ModuleId, m.Name as ModuleName,mi.Id as ModuleIamgeId,mi.[Description] as ModuleDesc,mi.SampleImage, ui.Id as UserImageId, ui.ImagePath as UserImage, ui.Comment as Facultyomment , ui.IsStatus  from ModuleMaster m
--inner join ModuleImage mi on mi.ModulId = m.Id
--inner join UserModuleImage ui on ui.ModulId = m.Id and ui.ModuleImageId = mi.Id
--where m.Id = @ModuleId and ui.UserId = @UserId



select m.Id as ModuleId,mi.Id as ModuleImageId, m.Name as ModuleName,mi.[Description] as ModuleDesc,mi.SampleImage from ModuleMaster m
inner join ModuleImage mi on mi.ModulId = m.Id
where m.Id = @ModuleId

select ui.Id as UserImageId,ui.ModulId, ui.ModuleImageId, ui.ImagePath as UserImage, ui.Comment, ui.IsStatus 
from UserModuleImage ui where ui.UserId = @UserId

select m.Id as ModuleId, m.Name as ModuleName from ModuleMaster m
where m.Id = @ModuleId

END
--exec [dbo].[Get_User_Images] 1,45






GO
/****** Object:  StoredProcedure [dbo].[Get_User_Notification]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Get_User_Notification]
           @User_Id INT = 0
AS
	BEGIN 	
		select n.Id as NotificationId, n.Comment, n.IsRead  from [Notification] n where n.UserId = @User_Id
END



GO
/****** Object:  StoredProcedure [dbo].[Get_User_Talks]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Get_User_Talks]         
		   @User_Id INT = 0
AS
	BEGIN 
		
Select t.Id as TalkId, t.SessionId, t.ModulId as ModuleId, s.Name as SessionName, m.Name as ModuleName,  t.Name as TalkName ,t.Talkdesc as Talkdesc, t.Duration 
		from TalkMaster t
		inner join ModuleMaster m on m.Id = t.ModulId
		inner join SessionMaster s on s.Id = t.SessionId   

		--select n.Id as NotificationId, n.Comment, n.IsRead  from [Notification] n where n.UserId = @User_Id
		select u.Id as UserTalkId, s.Id as SessionId, m.Id as ModuleId, t.Id as TalkId, u.Comment, u.IsActive, u.IsExamlear, u.IsVideoStatus  from UserTalks u
		inner join TalkMaster t on t.Id = u.TalkId
		inner join ModuleMaster m on m.Id = t.ModulId
		inner join SessionMaster s on s.Id = m.SessionId
		where UserId = @User_Id

END
--exec [dbo].[Get_User_Talks] 45






GO
/****** Object:  StoredProcedure [dbo].[Insert_User]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Insert_User]
			@Title varchar(10) = null
           ,@First_Name varchar(50) = null
           ,@Middle_Name  varchar(50) = null
           ,@Last_Name varchar(50) = null
           ,@Email varchar(100) = null
           ,@Email_Verified BIT = null
           ,@Mobile varchar(15) = null
           ,@Password varchar(50) = null
           ,@Professional_Specialty varchar(50) = null
           ,@Educational_Qualification varchar(50) = null
           ,@Street_Address varchar(100) = null
           ,@City_Town varchar(50) = null
           ,@Country varchar(50) = null
           ,@Institution_Work_Place varchar(50) = null
           ,@Where_Hear varchar(50) = null
AS
	BEGIN 

	IF EXISTS (SELECT * FROM [dbo].[User] WHERE Email = @Email)
		BEGIN
			SELECT 2
		END
	ELSE
		BEGIN
			DECLARE @id uniqueidentifier			
			SET @id = NEWID()

			INSERT INTO [dbo].[User]
						([Title]
						,[First_Name]
						,[Middle_Name]
						,[Last_Name]
						,[Email]
						,[Email_Verified]
						,[Mobile]
						,[Password]
						,[Professional_Specialty]
						,[Educational_Qualification]
						,[Street_Address]
						,[City_Town]
						,[Country]
						,[Institution_Work_Place]
						,[Where_Hear]
						,[Guid])
					VALUES
						(@Title
						,@First_Name 
						,@Middle_Name
						,@Last_Name
						,@Email
						,@Email_Verified
						,@Mobile
						,@Password
						,@Professional_Specialty
						,@Educational_Qualification
						,@Street_Address
						,@City_Town
						,@Country
						,@Institution_Work_Place
						,@Where_Hear
						,@id)

				SELECT @id
		END
	END 




GO
/****** Object:  StoredProcedure [dbo].[Insert_User_Course]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Insert_User_Course]
			@User_Id int = null
           ,@Course_Id int = null
           ,@Registered_Date datetime = null
           ,@Registered_Till datetime = null
           ,@Payment_Mode varchar(100) = null
           ,@Payment_Amount decimal(10,5) = null
           ,@Payment_Currency varchar(50) = null
AS
	BEGIN

		DECLARE @InsertFlag AS BIT
		SET @InsertFlag = 0 

		IF EXISTS (SELECT * FROM User_Course WHERE User_Id = @User_Id AND Course_Id = @Course_Id AND Registered_Till IS NOT NULL)
			BEGIN
				IF EXISTS (SELECT * FROM User_Course WHERE User_Id = @User_Id AND Course_Id = @Course_Id AND Registered_Till < GETDATE())
					BEGIN
						SET @InsertFlag = 1						
					END
			END
		ELSE IF NOT EXISTS (SELECT * FROM User_Course WHERE User_Id = @User_Id AND Course_Id = @Course_Id)
			BEGIN 
				SET @InsertFlag = 1				
			END
		IF @InsertFlag = 1
		BEGIN
			INSERT INTO [dbo].[User_Course]
								   ([User_Id]
								   ,[Course_Id]
								   ,[Registered_Date]
								   --,[Registered_Till]
								   ,[Payment_Mode]
								   ,[Payment_Amount]
								   ,[Payment_Currency]
								   )
							 VALUES
								   (@User_Id
								   ,@Course_Id
								   ,@Registered_Date
								   --,@Registered_Till
								   ,@Payment_Mode
								   ,@Payment_Amount
								   ,@Payment_Currency
								   )
		END

		SELECT	[User_Id]
				,[Title]
				,[First_Name]
				,[Middle_Name]
				,[Last_Name]
				,[Email]
				,[Email_Verified]
				,[Mobile]
				,[Password]
				,[Professional_Specialty]
				,[Educational_Qualification]
				,[Street_Address]
				,[City_Town]
				,[Country]
				,[Institution_Work_Place]
				,[Where_Hear]
		FROM	[dbo].[User] 
		WHERE	User_Id = @User_Id

		DECLARE @guidVal uniqueidentifier			
		SET @guidVal = NEWID()

		DECLARE @guid varchar(30)			

		SELECT @guid = SUBSTRING(convert(nvarchar(50), @guidVal), 0,30)

		UPDATE	[dbo].[User]
		SET		[Guid] = @guid
		WHERE	[User_Id] = @User_Id 		

		-- Pending User Course
		--SELECT	[User_Course_Id]
		--		,[User_Id]
		--		,[Course_Id]
		--		,[Registered_Date]
		--		,[Registered_Till]
		--		,[Payment_Mode]
		--		,[Payment_Amount]
		--		,[Payment_Currency]
		--FROM	[dbo].[User_Course]
		--WHERE	User_Id = @User_Id
		--AND		[Payment_Pending] = 1

		-- Active User Course
		SELECT	[User_Course_Id]
				,[User_Id]
				,[Course_Id]
				,[Registered_Date]
				,[Registered_Till]
				,[Payment_Mode]
				,[Payment_Amount]
				,[Payment_Currency]
		FROM	[dbo].[User_Course]
		WHERE	User_Id = @User_Id
		AND		[Registered_Till] > GETDATE()

		-- Expired User Course
		SELECT	[User_Course_Id]
				,[User_Id]
				,[Course_Id]
				,[Registered_Date]
				,[Registered_Till]
				,[Payment_Mode]
				,[Payment_Amount]
				,[Payment_Currency]
		FROM	[dbo].[User_Course]
		WHERE	User_Id = @User_Id
		AND		[Registered_Till] < GETDATE()

		-- GUID for payment work
		select @guid as GUID
	END 





GO
/****** Object:  StoredProcedure [dbo].[Reset_Password]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Reset_Password]
           @Email varchar(100) = null     
		  ,@Password varchar(50) = null      
		  ,@Guid varchar(100) = null
AS
BEGIN 
	IF NOT EXISTS (SELECT * FROM [dbo].[User] WHERE Email = @Email AND [Guid] = @Guid)
		BEGIN
			SELECT 0
		END
	ELSE
		BEGIN
			UPDATE	[dbo].[User]
			SET		Password = @Password
			WHERE	Email = @Email 
			AND		[Guid] = @Guid

			SELECT count(*) FROM [dbo].[User] WHERE Email = @Email AND [Guid] = @Guid
		END
END 




GO
/****** Object:  StoredProcedure [dbo].[Update_Notification]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Update_Notification]
			@UserId int = null
AS
	BEGIN 	
			UPDATE	[dbo].[Notification]
			SET IsRead = 1
			WHERE	 UserId= @UserId	
	END 




GO
/****** Object:  StoredProcedure [dbo].[Update_SignOut_User]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Update_SignOut_User]
			@User_Id int = 0
AS
	BEGIN 	
			UPDATE	[dbo].[User]
			SET IsLogin = 0
			WHERE User_Id = @User_Id
	END 




GO
/****** Object:  StoredProcedure [dbo].[Update_User]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Update_User]
			@User_Id int = null
		   ,@Title varchar(10) = null
           ,@First_Name varchar(50) = null
           ,@Middle_Name  varchar(50) = null
           ,@Last_Name varchar(50) = null
           ,@Email varchar(100) = null
           ,@Email_Verified BIT = null
           ,@Mobile varchar(15) = null
           ,@Password varchar(50) = null
           ,@Professional_Specialty varchar(50) = null
           ,@Educational_Qualification varchar(50) = null
           ,@Street_Address varchar(100) = null
           ,@City_Town varchar(50) = null
           ,@Country varchar(50) = null
           ,@Institution_Work_Place varchar(50) = null
           ,@Where_Hear varchar(50) = null
AS
	BEGIN 

	IF NOT EXISTS (SELECT * FROM [dbo].[User] WHERE User_Id = @User_Id)
		BEGIN
			SELECT 2
		END
	ELSE
		BEGIN			
			UPDATE	[dbo].[User]
			SET		[Title] = @Title
					,[First_Name] = @First_Name
					,[Middle_Name] = @Middle_Name
					,[Last_Name] = @Last_Name
					,[Email] = @Email
					,[Email_Verified] = @Email_Verified
					,[Mobile] = @Mobile
					,[Password] = @Password
					,[Professional_Specialty] = @Professional_Specialty
					,[Educational_Qualification] = @Educational_Qualification
					,[Street_Address] = @Street_Address
					,[City_Town] = @City_Town
					,[Country] = @Country
					,[Institution_Work_Place] = @Institution_Work_Place
					,[Where_Hear] = @Where_Hear
			WHERE	User_Id = @User_Id

			SELECT	[User_Id]
						,[Title]
						,[First_Name]
						,[Middle_Name]
						,[Last_Name]
						,[Email]
						,[Email_Verified]
						,[Mobile]
						,[Password]
						,[Professional_Specialty]
						,[Educational_Qualification]
						,[Street_Address]
						,[City_Town]
						,[Country]
						,[Institution_Work_Place]
						,[Where_Hear]
				FROM	[dbo].[User] 
				WHERE	Email = @Email AND Password = @Password AND Email_Verified = 1

				---- Pending User Course
				--SELECT	[User_Course_Id]
				--		,[User_Id]
				--		,[Course_Id]
				--		,[Registered_Date]
				--		,[Registered_Till]
				--		,[Payment_Mode]
				--		,[Payment_Amount]
				--		,[Payment_Currency]
				--		,[Payment_Pending]
				--FROM	[dbo].[User_Course]
				--WHERE	User_Id = @User_Id
				--AND		[Payment_Pending] = 1

				-- Active User Course
				SELECT	[User_Course_Id]
						,[User_Id]
						,[Course_Id]
						,[Registered_Date]
						,[Registered_Till]
						,[Payment_Mode]
						,[Payment_Amount]
						,[Payment_Currency]
				FROM	[dbo].[User_Course]
				WHERE	User_Id = @User_Id
				AND		Is_Active = 1
				AND		[Registered_Till] > GETDATE()

				-- Expired User Course
				SELECT	[User_Course_Id]
						,[User_Id]
						,[Course_Id]
						,[Registered_Date]
						,[Registered_Till]
						,[Payment_Mode]
						,[Payment_Amount]
						,[Payment_Currency]
				FROM	[dbo].[User_Course]
				WHERE	User_Id = @User_Id
				AND		Is_Active = 1
				AND		[Registered_Till] < GETDATE()
			
		END
	END 




GO
/****** Object:  StoredProcedure [dbo].[Update_User_Email_Verification]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Update_User_Email_Verification]
			@User_Id int = null
           ,@Email varchar(100) = null           
AS
	BEGIN 
	UPDATE	[User]
	SET		Email_Verified = 1
	WHERE	Email = @Email 
	AND		User_Id = @User_Id
	END 




GO
/****** Object:  StoredProcedure [dbo].[Update_User_Talk]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Update_User_Talk]
			@User_TalkId int = 45
AS
	BEGIN 	
			UPDATE	[dbo].[UserTalks]
			SET IsActive = 1
			WHERE	Id = @User_TalkId
END 
--exec [dbo].[Update_User_Talk]




GO
/****** Object:  StoredProcedure [dbo].[Update_UserTalk_Commet]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Update_UserTalk_Commet]
			@UserTalkId int = null,
			@Comment nvarchar(max) = null
AS
	BEGIN 	
			UPDATE	[dbo].[UserTalks]
			SET Comment = @Comment
			WHERE	Id = @UserTalkId
END 




GO
/****** Object:  StoredProcedure [dbo].[Update_UserTalk_Exam]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Update_UserTalk_Exam]
			@UserTalkId int = null
			
AS
	BEGIN 	
			UPDATE	[dbo].[UserTalks]
			SET IsExamlear = 1
			WHERE	Id = @UserTalkId
END 




GO
/****** Object:  StoredProcedure [dbo].[Update_UserTalk_Status]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Update_UserTalk_Status]
			@UserTalkId int = null,
			@IsVideoStatus bit = null,
			@IsExamlear bit = null

AS
	BEGIN 				
			UPDATE	[dbo].[UserTalks]
			SET IsVideoStatus = 1
			WHERE	Id = @UserTalkId
	END 




GO
/****** Object:  StoredProcedure [dbo].[Upload_Module_Image]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Upload_Module_Image]
			@UserModuleImageId int = 0,			
			@ImagePath nvarchar(max) = null,			
			@ModuleId int = null,
			@ModuleImageId int=null,	
			@UserId int = null			
			
AS
	BEGIN 	
			if(@UserModuleImageId = 0)
			begin
			insert into UserModuleImage(ImagePath,IsStatus,ModulId,ModuleImageId,UserId) values
			(@ImagePath,0, @ModuleId, @ModuleImageId, @UserId)
			end
			else
			begin
				-- end
				update UserModuleImage
				set ImagePath = @ImagePath , IsStatus = 1
				where Id = @UserModuleImageId

			end
			
END 




GO
/****** Object:  StoredProcedure [dbo].[Verify_User]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Verify_User]
           @Email varchar(100) = null
           ,@Password varchar(50) = null
AS
	BEGIN 
	DECLARE @User_Id INT = 0

	IF EXISTS(SELECT User_Id FROM [dbo].[User] WHERE Email = @Email AND Password = @Password AND Email_Verified = 0)
		BEGIN
			SELECT 1
		END 
	ELSE IF EXISTS (SELECT User_Id FROM [dbo].[User] WHERE Email = @Email AND Password = @Password AND Email_Verified = 1)
		BEGIN
				SELECT @User_Id = User_Id FROM [dbo].[User] WHERE Email = @Email AND Password = @Password AND Email_Verified = 1 and IsLogin = 0				

				SELECT	[User_Id]
						,[Title]
						,[First_Name]
						,[Middle_Name]
						,[Last_Name]
						,[Email]
						,[Email_Verified]
						,[Mobile]
						,[Password]
						,[Professional_Specialty]
						,[Educational_Qualification]
						,[Street_Address]
						,[City_Town]
						,[Country]
						,[Institution_Work_Place]
						,[Where_Hear]
						,IsLogin
				FROM	[dbo].[User] 
				WHERE	Email = @Email AND Password = @Password AND Email_Verified = 1

				---- Pending User Course
				--SELECT	[User_Course_Id]
				--		,[User_Id]
				--		,[Course_Id]
				--		,[Registered_Date]
				--		,[Registered_Till]
				--		,[Payment_Mode]
				--		,[Payment_Amount]
				--		,[Payment_Currency]
				--		,[Payment_Pending]
				--FROM	[dbo].[User_Course]
				--WHERE	User_Id = @User_Id
				--AND		[Payment_Pending] = 1

				-- Active User Course
				SELECT	[User_Course_Id]
						,[User_Id]
						,[Course_Id]
						,[Registered_Date]
						,[Registered_Till]
						,[Payment_Mode]
						,[Payment_Amount]
						,[Payment_Currency]
				FROM	[dbo].[User_Course]
				WHERE	User_Id = @User_Id
				AND		Is_Active = 1
				AND		[Registered_Till] > GETDATE()

				-- Expired User Course
				SELECT	[User_Course_Id]
						,[User_Id]
						,[Course_Id]
						,[Registered_Date]
						,[Registered_Till]
						,[Payment_Mode]
						,[Payment_Amount]
						,[Payment_Currency]
				FROM	[dbo].[User_Course]
				WHERE	User_Id = @User_Id
				AND		Is_Active = 1
				AND		[Registered_Till] < GETDATE()		
				
				UPDATE	[dbo].[User] SET IsLogin = 1 WHERE User_Id = @User_Id
		END
	--ELSE
	--	SELECT 0		
	END

	--UPDATE	[dbo].[User] SET IsLogin = 1 WHERE User_Id = 45

	

GO
/****** Object:  StoredProcedure [dbo].[Verify_User_By_Guid]    Script Date: 11-08-17 10:15:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Verify_User_By_Guid]
           @Guid varchar(100) = null
AS
	BEGIN 
	DECLARE @User_Id INT = 0

	IF EXISTS (SELECT [User_Id] FROM [dbo].[User] WHERE [Guid] = @Guid AND Email_Verified = 1)
		BEGIN
				SELECT @User_Id = [User_Id] FROM [dbo].[User] WHERE [Guid] = @Guid AND Email_Verified = 1
				SELECT	[User_Id]
						,[Title]
						,[First_Name]
						,[Middle_Name]
						,[Last_Name]
						,[Email]
						,[Email_Verified]
						,[Mobile]
						,[Password]
						,[Professional_Specialty]
						,[Educational_Qualification]
						,[Street_Address]
						,[City_Town]
						,[Country]
						,[Institution_Work_Place]
						,[Where_Hear]
				FROM	[dbo].[User] 
				WHERE	[User_Id] = @User_Id AND Email_Verified = 1

				---- Pending User Course
				--SELECT	[User_Course_Id]
				--		,[User_Id]
				--		,[Course_Id]
				--		,[Registered_Date]
				--		,[Registered_Till]
				--		,[Payment_Mode]
				--		,[Payment_Amount]
				--		,[Payment_Currency]
				--		,[Payment_Pending]
				--FROM	[dbo].[User_Course]
				--WHERE	User_Id = @User_Id
				--AND		[Payment_Pending] = 1

				-- Active User Course
				SELECT	[User_Course_Id]
						,[User_Id]
						,[Course_Id]
						,[Registered_Date]
						,[Registered_Till]
						,[Payment_Mode]
						,[Payment_Amount]
						,[Payment_Currency]
				FROM	[dbo].[User_Course]
				WHERE	[User_Id] = @User_Id
				AND		[Is_Active] = 1
				AND		[Registered_Till] > GETDATE()

				-- Expired User Course
				SELECT	[User_Course_Id]
						,[User_Id]
						,[Course_Id]
						,[Registered_Date]
						,[Registered_Till]
						,[Payment_Mode]
						,[Payment_Amount]
						,[Payment_Currency]
				FROM	[dbo].[User_Course]
				WHERE	[User_Id] = @User_Id
				AND		[Is_Active] = 1
				AND		[Registered_Till] < GETDATE()
				
		END
	--ELSE
	--	SELECT 0		
	END




GO
USE [master]
GO
